body{background-color:#FFFFFF}
a:href, a:link, .links, a:visited {
	color: #845939;
	text-decoration: underline;
}
a:hover {
	background-color: #FFFFFF;
	text-decoration: none;

}
p, li, .ptext{
color:#494B5A;
font:12px/130% Verdana,Geneva,Arial,Helvetica,sans-serif
}

.small{
color:#494B5A;
font:10px/130% Verdana,Geneva,Arial,Helvetica,sans-serif
}

.tableborder{border:1px solid #494B5A}
