/* Stylesheet */
/*
Part of the Gridsphere default css theme
Author: Luca De Marco (demarco@dimi.uniud.it), Roberto Ranon (ranon@dimi.uniud.it)
and Oliver Wehrens (wehrens@aei.mpg.de)
Version: $Id: default.css,v 1.1 2007/10/02 23:16:43 clem Exp $
*/
/* ****************************************************************************
    README FIRST: Please read the following short documentation to understand 
    how to easily customize the layout to meet your requrements.
 **************************************************************************** */

/* ****************************************************************************
    This file contains only the references to all the css files used.
    In particular: 
    - page.css: contains settings of the main parts of the page
    - tab.css: defines fixed parts of the tabbed pane layout
    - window.css: defines fixed parts of the portlet windows
    - portlet.css: defines fixed parts of the portlet contents
    - ui.css: defines specific widgets used in portlets
    - general.css: defines the general css rules for the whole portal.
                   In particular, it allows to edit the colors and fonts 
                   of the page, tab, window and portlet elements.
    - tags.css: defines the styles used by the UI tag library
    If you want to change only the colors, fonts and images of the portal,
    you should edit ONLY "general.css". The other files should NOT be modified
    except if you want to deeply change the layout or you have very particular 
    and specific needs.
 **************************************************************************** */

@import url(base.css);
@import url(page.css);
@import url(tab.css);
@import url(window.css);
@import url(portlet.css);
@import url(ui.css);
@import url(general.css);
@import url(tags.css);
