/* Stylesheet */
/*
Part of the Gridsphere modern theme
Author: Luca De Marco (demarco@dimi.uniud.it) and Roberto Ranon (ranon@dimi.uniud.it)
Version: $Id: page.css,v 1.1 2007/10/02 23:16:43 clem Exp $
*/

/* ****************************************************************************
    The body is tipically divided into the following elements (depending on the
    layout xml descriptors):
      - a div with id=page containing: 
          - a header div(class=header, contains logo (whose style is inlined in 
            the header.html code), locale) --> see this file
          - a tabs menu div (class=tab-pane) --> see tab.css
          - a sub-tabs menu div (class=tab-sub-pane) --> see tab.css
          - table layout content div (class=table) --> see layout.css
          - a footer div (class=footer) --> see this file
 **************************************************************************** */

#page {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

/*-------------------------------------------------
 PAGE HEADER
-------------------------------------------------*/

.header {
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

/*-------------------------------------------------
    rules for table-like layout
-------------------------------------------------*/

div { 
    border-width: 0px;
    font-size: inherit; 
    margin: 0px;
    padding: 0px;        
}

div.column {
    float: left;
}

div.row {
    clear: both;
}


* html div.row {
    width: 100%; /* for IE5 and IE6 in quirks mode */
    w\idth: 100%; /* for IE6 in standards mode */
}



/*-------------------------------------------------
    PAGE FOOTER
-------------------------------------------------*/

.footer	{
    clear: both;
    padding: 15px;
    text-align: center
}


/*-------------------------------------------------
WORKAROUND FOR SETTING MINIMUM PAGE WIDTH IN IE
-------------------------------------------------*/

#page {
    min-width: 900px;
}

* html #page {
    width:expression(document.body.clientWidth < 905 ? "900px" : "auto" );
}

/*-------------------------------------------------
TABLES
-------------------------------------------------*/

table {
    empty-cells: show;
    font-size: inherit;           
}

tbody, td, tr, th {
    font-size: inherit;
}