/* Stylesheet */
/*
Part of the Gridsphere modern theme.
Author: Luca De Marco (demarco@dimi.uniud.it) and Roberto Ranon (ranon@dimi.uniud.it)
Version: $Id: tab.css,v 1.1 2007/10/02 23:16:43 clem Exp $
*/

/* **************************************************************************
    This file defines the tabbed pane layout, 
    To change fonts and colors of the tabbed pane, you should edit the 
    appropriate parts of --> general.css
    To change the images modify the images named in that file. 
    If you edit images, you are encouraged NOT TO change their size,
    otherwise you should modify the padding rules set in this file.
    The rules set in this file should not be changed, since they are
    optimized to implement the "Sliding Doors" technique.
    In particular, the technique assumes that the HTML document is structured
    as follows:
    
// for the 1st level tab menu
    <div class="tab-pane"> 
    // this class has a background image --> see general.css 
    <ul>
    <li>
    <div class="tab-active"> 
    // holds the ACTIVE tab left background image --> see general.css
        <span> 
        // holds the ACTIVE tab right background image --> see general.css
            Active_Tab_Title
        </span>
    </div> 
    </li>
    <li>
    <a> 
    // holds INACTIVE tabs left background image --> see general.css
        <span> 
        // holds INACTIVE tabs right background image --> see general.css
            Inactive_Tab_Title
        </span>
    </a>
    <li>
    </ul>
    </div>

// for the 2nd level tab menu
    <div class="tab-sub-pane"> 
    // this class has a background image --> see general.css 
    <ul>
    <li>
    <a class="tab-sub-active"> 
    // could hold the ACTIVE tab left background image --> set general.css
        <span> 
        // could hold the ACTIVE tab right background image --> set general.css
            Active_Sub_Tab_Title
        </span>
    </div> 
    </li>
    <li>
    <a> 
    // could hold INACTIVE tabs left background image --> set general.css
        <span> 
        // could hold INACTIVE tabs right background image --> set general.css
            Inactive_Sub_Tab_Title
        </span>
    </a>
    <li>
    </ul>
    </div>
 ************************************************************************** */

/*-------------------------------------------------
1st LEVEL TAB MENU
-------------------------------------------------*/

/* settings for the WHOLE 1st level tab menu */
.tab-pane {
    float: left;
    width: 100%;
}

/* settings for the unordered list of 1st level tab menu */
.tab-pane ul {
    list-style: none;
    margin: 0;
    padding: 2px 10px 0px 2px;
}

/* settings for the list elements of 1st level tab menu */
.tab-pane ul li {
    float: left;
    margin: 0;
    padding-bottom: 0px;
}
/* settings for the ACTIVE tab in 1st level tab menu */
.tab-pane ul li .tab-active {   
    float: left;
    padding-left: 6px;
}
.tab-pane ul li .tab-active span {
    display: block;
    float: left;
    padding: 4px 6px 6px 0px;
}

/* settings for INACTIVE tabs in 1st level tab menu */
.tab-pane ul a {
    padding: 0px 0px 0px 6px;
}
.tab-pane ul a span {
    padding: 4px 6px 5px 0px;
}
.tab-pane ul a, .tab-pane ul a span {
    display: block;
    float: left;
}

/* Commented backslash hack hides rule from IE5-Mac \*/
.tab-pane ul a, .tab-pane ul a span {
    float: none;
}
/* End IE5-Mac hack */

/*-------------------------------------------------
2nd LEVEL TAB MENU
-------------------------------------------------*/

/* settings for the WHOLE 2nd level tab menu */
.tab-sub-pane {
    border: none;
    clear: both;
    margin: 0px;
    padding: 0px;
}

/* settings for the unordered list of 2nd level tab menu */
.tab-sub-pane ul {
    height: 100%;
    margin: 0px;
    padding: 5px 0px;
    padding-left: 8px;
}

/* settings for the list elements of 2nd level tab menu */
.tab-sub-pane li {
    border: none;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tab-sub-pane div {
    display: inline;
}

/* settings for the links of 2nd level tab menu */
.tab-sub-pane a {
    border-top: none;
    margin: 0 -1px 0 0;
    padding: 5px 0px;
}

